body {
    margin: 0;
}

#cnect-app-featured-image {
    display: block;
    width: 100%;
}

#cnect-app-article-category {
    margin: 15px 15px 0;
    font: -apple-system-headline;
}

#cnect-app-article-title {
    margin: 0 15px 15px;
    font: -apple-system-title1;
}

#cnect-app-article-author {
    margin: 0 15px 30px;
    color: #056cbb;
    font: -apple-system-subheadline;
}

#cnect-app-article-author .by {
    color: #666;
}

#cnect-app-article-content {
    margin: 0 15px 30px;
    line-height: 1.5em;
    font: -apple-system-body
}

body, p, a, h1, h2 {
    font-family: -apple-system, sans-serif;
}