#cnect-app-article-category {
    margin: 15px 15px 0;
    font: -apple-system-headline;
}

#cnect-app-article-title {
    margin: 0 15px 15px;
    font: -apple-system-title1;
}

#cnect-app-article-author {
    margin: 0 15px 30px;
    color: #056cbb;
    font: -apple-system-subheadline;
}

#cnect-app-article-author .by {
    color: #666;
}

#cnect-app-article-content {
    margin: 0;
    line-height: 1.5em;
}

#cnect-app-article-content::after {
    content: 'CNECT';
    display: block;
    height: 60px;
    line-height: 60px;
    margin-top: 60px;
    color: #dddddd;
    font: -apple-system-title2;
    text-align: center;
}

/**
 * Reset: Courtesy of Eric Meyers
 */
html, body, p, blockquote {
    font-family: -apple-system, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font: -apple-system-body;
    margin: 0 15px 15px;
}

blockquote {
    padding-left: 15px;
    margin: 0 15px 15px;
}