body {
    margin: 0;
}

#cnect-app-featured-image {
    display: block;
    width: 100%;
}

#cnect-app-article-title {
    margin: 16px 20px 2px;
    font-weight: 300;
}

#cnect-app-article-author {
    margin: 0 20px 32px;
    color: #056cbb;
    font-weight: 900;
    font-size: 16px;
}

#cnect-app-article-author .by {
    color: #666;
}

#cnect-app-article-content {
    margin: 0 20px 40px;
    text-align: justify;
    line-height: 1.5em;
}

body, p, a, h1, h2 {
    font-family: -apple-system, sans-serif;
}